.wc-block-product-categories {
	margin-bottom: 1em;

	&.is-dropdown {
		display: flex;
	}

	select {
		margin-right: 0.5em;
	}
}

.wc-block-product-categories-list-item {
	list-style: none outside;
	clear: both;
	border-radius: 12px;
	box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.05);

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 20px 17px;
		gap: 15px;
	}

	&__name {
		text-align: center;
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	&__image {
		img {
			display: block;
			height: auto;
			margin: 0;
			max-width: 100%;
			padding: 0;
		}
	}
}



.wc-block-product-categories-list-item-count::before {
	content: " (";
}

.wc-block-product-categories-list-item-count::after {
	content: ")";
}

.wp-block-woocommerce-product-categories.is-loading .wc-block-product-categories__placeholder {
	display: inline-block;
	height: 1em;
	width: 50%;
	min-width: 200px;
	background: currentColor;
	opacity: 0.2;
}

.wc-block-product-categories__button {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 0.5em;
	position: relative;
	overflow: hidden;

	svg {
		fill: currentColor;
		outline: none;

		.rtl & {
			transform: rotate(180deg);
		}
	}

	&:active {
		color: currentColor;
	}

	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		opacity: 0.3;
	}

	&[aria-disabled="true"]:focus,
	&:disabled:focus {
		box-shadow: none;
	}
}