.wc-block-mini-cart {
	display: inline-block;
}

.wc-block-mini-cart__template-part,
.wp-block-woocommerce-mini-cart-contents {
	height: 100%;
}

.wc-block-mini-cart__title {
	background-color: #F2F2F2;
	padding-bottom: 20px;
}

.wc-block-mini-cart__button {
	align-items: center;
	background-color: transparent;
	border: none;
	color: inherit;
	display: flex;
	gap: 4px;
	flex-direction: column;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	padding: 0;
	cursor: pointer;

	&:hover:not([disabled]) {
		color: #9E58F7;

		path {
			fill: #9E58F7;
			stroke: #9E58F7;
		}
	}

	&::after {
		content: 'Warenkorb';
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

}

@media screen and (max-width: 480px) {
	.wc-block-mini-cart__button::after {
		font-size: 0;
	}
}

.wc-block-mini-cart__amount {
	margin-right: 0.5em;
}

.wc-block-mini-cart--preview {
	.wc-block-mini-cart__amount {
		display: initial;
	}
}

.wc-block-mini-cart__tax-label {
	margin-right: em($gap-smaller);
}

@media screen and (min-width: 768px) {
	.wc-block-mini-cart__amount {
		display: initial;
		font-size: inherit;
		font-weight: inherit;
		margin-right: $gap-smaller;
	}
}

.drawer-open .wc-block-mini-cart__button {
	pointer-events: none;
}

// Reset font size so it doesn't depend on drawer's ancestors.
.wc-block-mini-cart__drawer {
	font-size: 1rem;

	.wp-block-woocommerce-mini-cart-contents {
		box-sizing: border-box;
		padding: 0;
		position: relative;
		justify-content: center;

		.wc-block-components-notices {
			position: absolute;
			top: 30px;
			left: 20px;
			right: 20px;
			z-index: 10;
			margin-bottom: unset;

			.wc-block-components-notices__notice {
				margin-bottom: unset;
			}

			&:empty {
				display: none;
			}
		}
	}
}

:where(.wp-block-woocommerce-mini-cart-contents) {
	background: #fff;
}

.wp-block-woocommerce-empty-mini-cart-contents-block,
.wp-block-woocommerce-filled-mini-cart-contents-block {
	background: inherit;
	height: 100%;
	max-height: -webkit-fill-available;
	max-height: -moz-available;
	max-height: fill-available;
	display: flex;
	flex-direction: column;
}

.wp-block-woocommerce-empty-mini-cart-contents-block {
	justify-content: center;
}

.wp-block-woocommerce-filled-mini-cart-contents-block {
	justify-content: space-between;
}

.wp-block-woocommerce-empty-mini-cart-contents-block .wc-block-mini-cart__empty-cart-wrapper {
	overflow-y: auto;
	padding: $gap-largest $gap $gap;
}

.wp-block-woocommerce-mini-cart-title-label-block {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin: 20px 0 16px 20px;
	display: block;
}

.wp-block-woocommerce-mini-cart-title-items-counter-block {
	padding: 0 20px;

	.wc-block-components-totals-item__value {
		margin-inline: 5px;
		font-weight: 700;
	}

	&__progresbar {
		position: relative;
		border-radius: 10px;
		background: #171717;
		width: 100%;
		height: 25px;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 0 9px;
		box-sizing: border-box;
		margin-top: 12px;

		&:after {
			content: "";
			position: absolute;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #838383;
			border: 2px solid #fff;
			top: 8px;
			left: 50%;
			z-index: 2;
		}

		&-status {
			position: relative;
			-webkit-appearance: none;
			width: 100%;
			height: 3px;
			background: #2f2f2f;
			border-radius: 5px;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#838383), to(#838383));
			background-image: linear-gradient(#838383, #838383);
			background-size: 51% 100%;
			background-repeat: no-repeat;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: var(--range-progress);
				max-width: 100%;
				height: 100%;
				z-index: 2;
				background-color: #fff
			}

			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				height: 25px;
				width: 25px;
				background-image: url(./cloud.svg);
				z-index: 5;
				position: relative
			}

			&::-webkit-slider-runnable-track {
				-webkit-appearance: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				border: none;
				background: 0 0
			}
		}
	}
}

.wc-block-mini-cart__items {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	padding: 0 20px;

	.wc-block-mini-cart__products-table {
		margin-bottom: auto;

		.wc-block-cart-items__row {
			padding-top: $gap-smaller;
			padding-bottom: $gap-smaller;

			.wc-block-cart-item__product,
			.wc-block-cart-item__quantity {
				padding: 0 !important;
			}
			.wc-block-cart-item__divider {
				font-size: 11px;
				font-style: normal;
				font-weight: 600;
				line-height: 130%;
			}

			&:last-child::after {
				content: none;
			}
		}
	}
}

.wc-block-mini-cart__footer {
	padding: 20px;
	background-color: #F2F2F2;

	&-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 130%;

		&_total {
			font-weight: 700;
			font-size: 18px;
			margin-bottom: 2px;
		}

		&_tax {
			font-size: 13px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%;
			color: #838383;
		}
	}

	// First selector for the frontend, second selector for the editor.
	.wc-block-mini-cart__footer-actions,
	.wc-block-mini-cart__footer-actions>.block-editor-inner-blocks>.block-editor-block-list__layout {
		display: flex;
		gap: 8px;
		margin-top: 28px;

		.wp-block-woocommerce-mini-cart-checkout-button-block {
			flex-grow: 1;
			display: inline-flex;
			background-color: #1a1a1a;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 130%;

			&:hover {
				background-color: #9E58F7;
			}
		}
		
		.wp-block-woocommerce-mini-cart-cart-button-block {
			flex-grow: 1;
			display: inline-flex;
			background-color: #FFFFFF;
			color: #1a1a1a;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 130%;

			&:hover {
				background-color: #1a1a1a;
				color: #FFFFFF;
			}
		}

	}

	.wc-block-components-payment-method-icons {
		margin-top: $gap;
	}
}