.wc-block-components-totals-coupon {
	&-link {
		color: #838383;
		display: flex;
		align-items: center;
		gap: 12px;
		font-size: 16px;
		font-style: normal;
		font-weight: 700;
		line-height: 130%;

		&-icon {
			background-color: #838383;
			width: 19px;
			height: 19px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&::after,
			&::before {
				content: "";
				position: absolute;
				width: 55%;
				height: 2px;
				background-color: #FFF;
			}

			&::before {
				transform: rotate(90deg);
			}
		}

		&:hover {
			color: #1a1a1a;

			.wc-block-components-totals-coupon-link-icon {
				background-color: #1a1a1a;
			}
		}
	}

	.wc-block-components-panel__button {
		margin-top: 0;
		padding-top: 0;
	}

	.wc-block-components-panel__content {
		padding-bottom: 0;
	}
}

.wc-block-components-totals-coupon__form {
	display: flex;
	width: 100%;
	margin-bottom: 0;

	.wc-block-components-totals-coupon__input {
		margin-bottom: 0;
		margin-top: 0;
		flex-grow: 1;
	}

	.wc-block-components-totals-coupon__button {
		height: em(48px);
		flex-shrink: 0;
		margin-left: $gap-smaller;
		padding-left: $gap-large;
		padding-right: $gap-large;
		white-space: nowrap;
	}

	.wc-block-components-totals-coupon__button.no-margin {
		margin: 0;
	}
}

.wc-block-components-totals-coupon__content {
	flex-direction: column;
	position: relative;
}
