$thumbnails: ".wc-block-editor-product-gallery-thumbnails";
$thumbnails-gap: 15px;

#{$thumbnails} {
	display: flex;

	.wc-block-product-gallery-thumbnails--position-bottom & {
		flex-direction: row;
		gap: 0 15px;
	}

	&.wc-block-editor-product-gallery-thumbnails--bottom {
		flex-flow: row nowrap;
	}

	img {
		width: 100px;
		height: 100px;
		margin: 5px;
	}
}
