.wc-block-order-confirmation-status {
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	// padding: 40px 60px;
	// border-radius: 12px;
	// box-shadow: 0px 6.906px 17.266px 0px rgba(0, 0, 0, 0.05);
	// margin-bottom: 12px;

	p {
		margin-top: 0;
		margin-bottom: 8px;
		text-align: center;
	}

	&.has-background {
		padding: $gap;
	}

	.wc-block-order-confirmation-status__actions {
		margin-top: $gap;

		a {
			margin-right: $gap;

			&.has-link-color {
				color: inherit;
			}
		}
	}
}