/*rtl:begin:ignore*/
.wc-block-components-product-price--align-left {
	display: block;
	text-align: left;
}
.wc-block-components-product-price--align-center {
	display: block;
	text-align: center;
}
.wc-block-components-product-price--align-right {
	display: block;
	text-align: right;
}
/*rtl:end:ignore*/

.wc-block-components-product-price {
	display: flex;
	align-items: center;

	.wc-block-all-products .wc-block-components-product-price {
		margin-bottom: $gap-small;
	}

	ins {
		text-decoration: none;
	}
}

.wc-block-components-product-price__regular {
	text-decoration: none;
	color: #838383;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	position: relative;
	font-size: 13px;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #ED272D;
		top: 50%;
		left: 0;
		transform: rotate(-10deg);
	}
}

.wc-block-components-product-price__value {
	&.is-discounted {
		margin-left: 0.5em;
		font-style: normal;
        font-weight: 700;
        line-height: normal;
	}
}

.is-loading {
	.wc-block-components-product-price::before {
		@include placeholder();
		content: ".";
		display: inline-block;
		width: 5em;
	}
}

